// Font weights
$extralight: 200 !default
$light: 300 !default
$regular: 400 !default
$semibold: 500 !default
$bold: 700 !default
$extrabold: 900 !default
$max-width: 1140px
$column: 60px
$gutter: 20px
$blue: #116fc6

$page-footer-height: 80px

html
  position: relative
  min-height: 100%

body
  margin: 0 0 $page-footer-height 0
  background-color: #ededed
  font-family: Lato, Helvetica, Arial
  font-size: 14px

a
  color: $blue
  &:hover
    color: darken($blue,15%)

%white-box
  background-color: white
  display: block
  border-radius: 3px
  box-shadow: 0 0 1px rgba(black, .1)
  padding: 1em

  a
    text-decoration: none

// NORMALISE BUTTONS CLASS
%normalise-button
  margin: 0
  padding: 0
  outline: 0
  border: none
  text-decoration: none
  text-align: center
  white-space: nowrap
  cursor: pointer
  vertical-align: middle
  font-weight: normal
  display: inline-block

.button
  @extend %normalise-button
  @extend %button-primary
  &.block
    width: 100%
  &.small
    padding: 8px
    font-size: 14px