// Font weights
$extralight: 200 !default
$light: 300 !default
$regular: 400 !default
$semibold: 500 !default
$bold: 700 !default
$extrabold: 900 !default
$max-width: 1140px
$column: 60px
$gutter: 20px
$blue: #116fc6

body
  background-color: #ededed
  font-family: Lato, Helvetica, Arial
  font-size: 13px

%white-box
  background-color: white
  display: block
  border-radius: 3px
  box-shadow: 0 0 1px rgba(black, .1)
  padding: 1em

  a
    text-decoration: none

%reset-button