#footer
  position: absolute
  left: 0
  bottom: 0
  height: $page-footer-height
  width: 100%

footer#footer
  background-color: #383838
  color: white

  #footer-inner
    +outer-container
    padding: 25px 0

    .copyright, .footer-notes
      float: left

    .footer-notes
      padding: 0 0 0 20px
      font-size: 12px
      color: rgba(white, .5)

    ul, li, p
      margin: 0
      padding: 0
      list-style-type: none

    .logo
      +hide-text
      display: block
      width: 202px
      height: 33px
      background: image-url("logo.png") no-repeat
      position: relative
