.view-all-causes
  position: absolute
  top: 20px
  left: 0
  font-weight: $light
  a
    color: #999
    text-decoration: none
    &:hover
      text-decoration: underline
      color: $blue
#motive
  background-color: white
  position: relative

  #motive-inner
    +outer-container
    position: relative
    padding: 40px 0

  .motive-details
    +span-columns(8 of 12)

    h1
      font-weight: $light
      color: #444
      border-bottom: 1px solid #f7f7f7
      padding-bottom: 20px

    ul
      margin: 15px 0 0 0
      padding: 0
      list-style-type: none

    li
      display: inline-block
      float: left
      padding-right: 10px
      line-height: 24px


  .motive-aside
    +span-columns(4 of 12)

  .supporters
    text-align: center
    .total
      font-weight: bold
      font-size: 70px
    .info
      padding: 0 0 30px 0
      font-size: 18px
      color: lighten(black, 30%)

  .row
    +row

.share
  border-top: 1px solid #ddd
  background-color: white
  padding: 40px 0
  +clearfix
  .share-inner
    +outer-container

.apoiado
  @extend %button-primary
  background-color: green !important
  &:hover
    background-color: green !important